		*
		{
			font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		}
		#banner 
		{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
			height: 80px;
			z-index: -1;
		}
		#mainscreen 
		{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
			height: 100%;
			z-index: -2;
		}
		#links,#Right 
		{
			float: right;
			padding-right: 50px;
			padding-top: 8px;
		}
		#karlpalmertext
		{
			font-size: 30px;
			padding-left: 28px;
			padding-top: 8px; /* Social Media Icons height */
		}
		#textcolor
		{
			color: black;
		}
		#line-heightFIX
		{
			line-height: 0px;
		}
		#Social
		{
			float: right;
			padding-top: 21px;
		}
		.sliding-middle-out 
		{
			display: inline-block;
			position: relative;
			padding-bottom: 0px;
		}
		.sliding-middle-out:after 
		{
			content: '';
			display: block;
			margin: auto;
			height: 3px;
			width: 0px;
			background: transparent;
			transition: width .5s ease, background-color .5s ease;
		}
		.sliding-middle-out:hover:after 
		{
			width: 100%;
			background: #262626;
		}
		body
		{
			margin: 0;
		}
		div 
		{
			font-size: 30px;
			font-weight: 100;
		}
		a
		{
			font-size: 20px;
			font-weight: 100;
			line-height: 62px;
			text-decoration: none;
			color: black;
		}
		/*  v  SOCIAL MEDIA TABLE  v  */
		nav 
		{
			width: 100%;
  			padding-top: 45px;
  			padding-left: 0px;
  			padding-right: 0px; 
  			text-align: center;
		}
		nav li
		{
			display: inline;
		}
		nav > ul 
		{
  			list-style: none;
  			padding: 0;
  			margin: 0;
  			border-radius: 5px;
		}
		nav > ul > li 
		{
  			float: left;
  			height: 65px;
			width: 11.1111111%; /* fallback for non-calc() browsers */
    			width: calc(100% / 9);
  			line-height: 65px;
  			position: relative;
  			text-transform: uppercase;
  			font-size: 14px;
  			color: rgba(0, 0, 0, 0.7);
  			cursor: pointer;
		}
							/* v li color v */
		nav > ul > li#youtube:hover 
		{
  			border-radius: 5px;
  			background-color: #C6494F;
  			opacity: 1;
		}

		nav > ul > li#instagram:hover 
		{
  			border-radius: 5px;
  			background-color: #B57555;
  			opacity: 1;
		}

		nav > ul > li#gmail:hover 
		{
  			border-radius: 5px;
  			background-color: #E56D4B;
  			opacity: 1;
		}

		nav > ul > li#snapchat:hover 
		{
  			border-radius: 5px;
  			background-color: #EAEA85;
  			opacity: 1;
		}

		nav > ul > li#vine:hover 
		{
  			border-radius: 5px;
  			background-color: #84CEB2;
  			opacity: 1;
		}
		nav > ul > li#twitter:hover 
		{
  			border-radius: 5px;
  			background-color: #82CBE5;
  			opacity: 1;
		}
		nav > ul > li#tumblr:hover 
		{
  			border-radius: 5px;
  			background-color: #596F7F;
  			opacity: 1;
		}
		nav > ul > li#facebook:hover 
		{
  			border-radius: 5px;
  			background-color: #374C6B;
  			opacity: 1;
		}
		nav > ul > li#twitch:hover 
		{
  			border-radius: 5px;
  			background-color: #796A93;
  			opacity: 1;
		}
							/* ^ li color ^ */
			
		ul.drop-menu 
		{
  			position: absolute;
  			top: 100%;
  			left: 0%;
  			width: 100%;
  			padding: 0;
		}
		ul.drop-menu li 
		{
  			color: rgba(255, 255, 255, 0.7);
  			display: none;
		}
		ul.drop-menu li:hover 
		{
		}
		ul.drop-menu li:last-child 
		{
  			border-radius: 0px 0px 5px 5px;
		}
		li:hover > ul.drop-menu li 
		{
  			display: inline-block;
  			text-align: center;
		}
		
		ul li ul {				/* v FADE TRANSITIONS v */
    			position:absolute;
			line-height: 16px;
    			float:center;
    			width:100px;
    			height: 0;
			-webkit-transition:height 200ms ease-in;
			-moz-transition:height 200ms ease-in;
			-o-transition:height 200ms ease-in;
			transition:hegiht 200ms ease-in;
    			padding:10px;
    			margin:0;
    			visibility: hidden;
    			opacity: 0;
    			transition-property: opacity, visibility;
    			transition-duration: .7s, 0s;
    			transition-delay: 0s, .4s;
		}

		ul > li:hover ul 
		{
    			visibility: visible;
			height: 200px;
    			opacity: 1;
    			transition-delay: 0s, 0s;
		}						/* ^ FADE TRANSITIONS ^ */
		
		/*  ^  SOCIAL MEDIA TABLE  ^  */
